* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    height: 100vh;
    overflow: hidden;
    /* background: linear-gradient(to bottom, #ffcccb, rgba(255, 204, 203, 0.5));; */
    background-image:url('heart.gif');
    font-family: "Courier", monospace;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:75%;
  }
 
 
  .container {
    width: 350px;
    height: 500px;
    perspective: 800px;
    
  }
  .container {
    width: 350px;
    height: 500px;
    perspective: 800px;
    opacity: 0; /* Ensure it starts invisible */
    animation: fadeIn 2s ease-in forwards; /* Apply fade-in directly */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  .front h1, .back h1, .back p {
  font-weight: bold;
  color:rgb(230, 20, 17);
}

  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg)rotateZ(180deg);
    
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  
  }
 
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    text-align:center;
    align-items: center;
  }
  .front {
    background-image: url(https://source.unsplash.com/random/350x500);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .front {
    background-image: url(https://source.unsplash.com/random/350x500);
  }
  
  .back {
    /* background-: #3a3a3a; */
    transform: rotateY(180deg) rotateZ(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
  }

  .next-page-link {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: rgb(227, 19, 16);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    transition: background-color 0.3s ease, opacity 0.5s ease;
    align-items:center;
}

.next-page-link:hover {
    background-color: #e306ca;
    color: #ffffff;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

